# Data Preprocessing for the Million Song Dataset

In [1]:
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

In [2]:
from preprocessing.util.processor import Processor

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [16]:
parent_directory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
data_dir = os.path.join(parent_directory, 'data')
processor = Processor(
    debug_messages=True,
    data_dir=data_dir,
)

In [17]:
processor.process()

Reading user listening history file: 48373586it [00:17, 2797278.82it/s]

Read 48373586 user triplets.
Reading mbtags from /Users/danieloman1/Desktop/multimodal-music-recommender/data/artist_term.db
Reading metadata from /Users/danieloman1/Desktop/multimodal-music-recommender/data/track_metadata.db
Database connected.
Columns in 'lyrics' table: ['track_id', 'mxm_tid', 'word', 'count', 'is_test', 'song_id']
'song_id' column already exists.
Lyrics table processed and pivoted with song_id as index.
Database connection closed.

In [18]:
processor.lyrics_df.head()

word,song_id,&,000,1,10,100,12,13,15,16,...,è,é,él,és,était,être,ô,über,–,‘caus
0,TRAAAAV128F421A322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TRAAABD128F429CF47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TRAAAED128E0783FAB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TRAAAEF128F4273421,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TRAAAEW128F42930C0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
processor.save_data()